{# src/CvBundle/Resources/views/Page/about.html.twig #}
{% extends 'CvBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
      <h1>About the blog </h1>
    </header>

    <article>
      <p> Ceci est un simple outil qui sera amélioré par la suite.<br>
      Le groupe est composé de Maxime Poulain et de Maxime Mauray </p>
    </article>
{% endblock %}
