{# src/CvBundle/Resources/views/Page/add.html.twig #}
{% extends 'CvBundle::layout.html.twig' %}


{%block body%}
  <header>
    <h1>Creation de CV</h1>
  </header>

  <div class="well">
    {{ form(form) }}
  </div>
  
{%endblock%}
