{# src/CvBundle/Resources/views/Page/creation.html.twig #}
{% extends 'CvBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
      <h1>Creation de CV</h1>
    </header>

    <article>
      <p> Test </p>
    </article>
{% endblock %}
